 <!DOCTYPE html>
 <html>
 <head>
  <link rel="stylesheet" href="bootstrap.min.css">
  <link rel="stylesheet" href="post.css"> 
  <link href='http://fonts.googleapis.com/css?family=PT+Sans:700' rel='stylesheet' type='text/css'>
</head>

<body>

  <!-- renders header for blog section of website -->
  <div class="nav">
  	<%= render(:partial => 'header') %> 
  </div>


	<!-- renders footer for blog section of website -->  
  	<%= render(:partial => 'footer') %>

  </body>
